<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>Cloudy Days - Previsioni Meteo</title>
</head>
<body>
    <header>
        <h1>Cloudy Days</h1>
    </header>
    <section class="container-title">
        <h2>Insert your credentials</h2>
        
        <form action="process_login.php" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br><br>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>
          
          <button class="rounded-button">Login</button>
      </form>
    </section>   
    <footer>
        <p>&copy; 2023 Cloudy Days</p>
    </footer>
</body>
</html>
</script>