<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>Cloudy Days - Previsioni Meteo</title>
</head>
<body>
    <header>
        <h1>Cloudy Days</h1>
    </header>
    <section class="container-title">
        <h2>Insert your credentials</h2>

        <form action="/login" method="POST">
            
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Username:</label>
              <input class="form-control" type="text" id="username" name="inputUsername" rows="1" required>{{ request.form['inputUsername'] }}
              <label for="InputPassword">Password:</label>
              <input class="form-control" type="password" id="password" name="inputPassword" required>{{ request.form['inputPassword'] }}
            </div>
            <button class="rounded-button">Login</button>
        </form>

    </section>   
    <footer>
        <p>&copy; 2023 Cloudy Days</p>
    </footer>
</body>
</html>
</script>